.sienna-editor-main-cont {
   width: 100%;
   max-height: 100%;
   padding: 22px;
   padding-top: 0px;

   color: #000;
   font-size: 12px;
   letter-spacing: 0.12px;
   outline: none;
   /* overflow-y: scroll; */
   position: relative;
   border-radius: 7px;
}
::selection {
   background: #000;
   border-radius: 4px;
   color: #fcfdff;
}
.sienna-editor-root {
}

.sienna-editor-master-wrapper {
   width: 100%;
   height: fit-content;
   margin: 0;
   padding: 0;
   outline: none;
   overflow: visible;
   caret-color: #000;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.sienna-editor-master-wrapper:hover {
}

.sienna-editor-link-deco {
   background-color: rgba(0, 0, 0, 0.09);
   font-size: 14px;
   color: #000;
}

.sienna-editor-link-pop-cont {
   width: 300px;
   display: flex;
   flex-direction: column;
   flex: 1;
   padding: 12px;
   gap: 12px;
}

.sienna-editor-link-pop-sav-butt {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   height: 32px;
   border-radius: 6px;
   border-style: none;
   outline: none;
   cursor: pointer;
   background-color: blue;
   color: #fff;
}
.sienna-editor-link-inp {
   height: 32px;
   border-style: none;
   background-color: #f8f8f8;
   outline: none;
   padding-left: 12px;
   pointer-events: all;
   z-index: 10000;
}

.sienna-editor-unstyle-block {
   /* padding:4px; */
   font-size: 14px;
   line-height: calc(24px + 6px);
}
.forcePlaceholder::before {
   /* background-color: red; */
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 15px;
}

.forcePlaceholderH1::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 24px;
   font-weight: 600;
}

.forcePlaceholderH2::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 21px;
   font-weight: 600;
}
.forcePlaceholderUS::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 15px;
}
.forcePlaceholderBQ::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 12px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 15px;
}
.forcePlaceholderUOL::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 22px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 15px;
}
.forcePlaceholderOL::before {
   cursor: text;
   position: absolute;
   color: #4a5260;
   content: attr(placeholder);
   height: 100%;
   margin-left: 5px;
   display: flex;
   align-items: center;
   justify-self: center;
   font-size: 15px;
}

.sienna-editor-header-1-block {
   font-size: 18px;
   font-weight: 600;
   margin-top: var(--block-margin);
   margin-bottom: var(--block-margin);

   outline: none;
}

.sienna-editor-header-2-block {
   font-size: 16px;
   font-weight: 600;
   margin-top: var(--block-margin);
   margin-bottom: var(--block-margin);
   outline: none;
}

.sienna-editor-UOL-block {
   margin: 0;
   padding: 0;
   left: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 12px;
   margin-left: 32px;
   /* padding-left: var(--left-padding); */
}

.sienna-editor-OL-block {
   margin: 0;
   padding: 0;
   left: 0;
   margin-top: 0px;
   display: flex;
   align-items: center;
   margin-left: 32px;
   padding-left: 10px;
   counter-reset: pseudoListNumbering;
}
.sienna-editor-UOL-block:before {
   /* content: attr(data-before); */
}

.sienna-editor-UOL-block-cir {
   /* margin-right: 12px; */
   pointer-events: none;
   display: list-item;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.sienna-editor-OL-block-count {
   display: list-item;
   list-style-type: decimal;
}

.sienna-editor-atomic-block {
   background-color: red;
}

.sienna-editor-divider-block-cont {
   margin-top: 0px;
   margin-bottom: 0px;
   width: 100%;
   height: 32px;
   display: flex;
   align-items: center;
   /* justify-content: center; */
}

@keyframes divider-expand {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}

.sienna-editor-divider-block {
   height: 1px;
   overflow: hidden;
   width: 0%;
   animation-name: divider-expand;
   animation-duration: 0.3s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out;
   border-top: 1px solid #3c4554;
}

.sienna-editor-block-block {
   border-left: 4px solid #000;
   padding: 0;
   padding-left: 12px;
   padding-right: 5px;
   padding-top: 1px;
   padding-bottom: 1px;
   margin-top: 12px;
   height: auto;

   background-color: #f9f9f9;
   /* display: flex;
  justify-content: flex-start;
  align-items: center; */
   margin-bottom: 12px;
   left: 0;
   font-size: 13px;
   outline: none;
}
.sienna-editor-block-code {
   background-color: red;
}

.dropdown-menu {
   padding: 0;
   height: fit-content;
   border-radius: 7px;
   margin-top: 7px;
   background-color: #363d48;
}

.list-unstyled {
   font-size: 15px;
   margin-top: 4px;
}
.list-unstyled-ico {
   margin-right: 7px;
   height: 14px;
   width: 14px;
   color: inherit;
}

.dropdown-item {
   display: flex;
   padding-left: 12px;
   align-items: center;
}

.app-edit-menu-main-cont {
   width: 100%;
   height: auto;
   z-index: 30;
   background-color: #fff;
   display: inline-flex;
   /* position: sticky;
   top: 0; */
   flex-direction: row;
   gap: 7px;

   align-items: center;

   /* padding-left: 12px; */
   /* padding-right: 12px; */
   /* border: 1px solid #000; */
   /* border-bottom: 1px solid #000; */
}

.app-edit-menu-butt {
   width: 42px;
   height: 42px;
   background-color: transparent;
   outline: none;
   color: #000;
   font-size: 16px;
   border-style: none;
   cursor: pointer;
}
.app-edit-menu-butt:hover {
   background-color: #f8f8f8;
   border-radius: 7px;
}

.app-edit-menu-butt-selec {
   color: blue;
}

.app-edit-menu-hr-cont {
   width: 1px;
   height: 70%;
   background-color: #e0e0e0;
}
